/* images slideshow */
.slideshow img{
    margin-top:10vh;
    margin-left:-0.5%;
}
.slideshow {
    /* position: fixed; */
    width: 102%;
    max-width: 102vw; /* Adjust width */
    height: 100vh; /* Adjust height */
    overflow: hidden;
    margin:-0.5%;
}

.slide {
    position: absolute;
    width: 102vw;
    height: 89%;
    opacity: 0;
    animation: slideAnimation 24s infinite; 
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 8s;
}

.slide:nth-child(3) {
    animation-delay: 16s;
}

/* Keyframes for opacity fade */

@keyframes slideAnimation {
    0%, 25% {
        opacity: 1; /* Image is fully visible for the first 25% of the time (6 seconds) */
    }
    33.33% {
        opacity: 0.95; /* Smoothly fade out after 6 seconds */
    }
    100% {
        opacity: 0; /* Stay hidden until next cycle */
    }
}

/* Our Story */

#ourStory{
    
    min-height: 80vh;
    width: 70vw;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: space-between;
    margin-top:110px;
    padding-top:4%;
    
}
.right{
    width:50%;
    font-family:"Nunito Sans", Sans-serif;
    
}

.left img{
    height:470px;
    width:470px;

}

.heading{
    font-weight: 600;
    font-size: 48px;
}
.info{
    margin-top:60px;
    font-size: 19px;
    color:gray;
    text-align: justify;
    line-height: normal;
    line-height: 1.3;
}

.left{
   
    margin-top:110px;
}

.button {
    margin-left:auto;
    width:fit-content;
    margin-top:3%;
    
}
.button button{
    font-family:"Nunito Sans", Sans-serif;
    background-color: #ff785b;
    border:none;
    font-size: 20px;
    padding:10px;
    cursor: pointer;
    color:white;

    border-radius:8px;
}
.button button:hover{
    background-color: white;
    color:#ff785b;
}

